* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden;
}

/* ================= HEADER ================= */

.main-header .logo img {
  width: 70px;
  height: 55px;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

/* ================= HERO ================= */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay (optional like Adani) */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, .45), rgba(0, 0, 0, 0));
}

/* ================= HERO INNER ================= */
.hero-inner {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT CONTENT */
.hero-content {
  max-width: 45%;
  color: #fff;
}

.hero-content h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 30px;
}

.btn-outline {
  display: inline-block;
  padding: 12px 26px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

/* ================= RIGHT SLIDER ================= */
.hero-slider {
  position: relative;
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
}

.slider-track {
  display: flex;
  gap: 20px;
  transform: translateX(0);
  transition: transform 0.6s ease;
}

.slide {
  min-width: 220px;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  opacity: 0.5;
  transform: scale(0.95);
  transition: 0.4s;
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NAV */
.slider-nav {
  position: absolute;
  bottom: -60px;
  right: 0;
  display: flex;
  gap: 10px;
}

.slider-nav button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.growth-section {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
}

.growth-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

/* LEFT */
.growth-left {
  width: 40%;
  background: linear-gradient(180deg, #0c3a6b, #001c38);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.growth-left img {
  height: 90%;
  object-fit: contain;
}

/* RIGHT */
.growth-right {
  width: 60%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* QUOTE */
.quote-box {
  position: relative;
  max-width: 600px;
  font-size: 22px;
  padding: 10px;
  line-height: 1.5;
  color: #3a3a3a;
  margin-bottom: 50px;
}

.growth-right .quote-box p::after {
  content: close-quote;
  bottom: -5px;
  display: inline-block;
  vertical-align: bottom;
  color: #393939;
  font-size: 2em;
  position: absolute;
}

.growth-right .quote-box p::before {
  content: open-quote;
  left: -10px;
  top: -2px;
  display: inline-block;
  vertical-align: bottom;
  color: #393939;
  font-size: 2em;
  position: absolute;
}



.quote-box strong {
  font-weight: 700;
}

/* Speech tail */
.quote-tail img {
  width: 100%;
}

.quote-tail {
  position: absolute;
  left: 8px;
  top: 95px;

}

/* PROFILE */
.profile-info {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 25px;
  margin-left: 10px;
}

.profile-info h4 {
  font-size: 18px;
  /* margin-bottom: 4px; */
  font-weight: 400;
  padding-bottom: 6px;
}

.profile-info span {
  font-size: 14px;
  color: #777;
}

/* BUTTON */
.btn-outline {
  padding: 12px 30px;
  border: 1px solid #444;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: 0.3s;
  width: 140px;
}

.btn-outline:hover {
  background: #000;
  color: #fff;
}